@model BasitFormUygulaması.Models.FormModel
@{
    ViewBag.Title = "Index";
}

<hr/>

<div class="container">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "well form-horizontal" }))
    {
        <fieldset>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <!-- Form Name -->
            <legend>Basit İletişim Formu!</legend>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Adı Soyadı</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.TextBoxFor(model => model.AdiSoyadi, new { @class = "form-control", placeholder = "Adınız Soyadınız" })
                    </div>
                    @Html.ValidationMessageFor(model => model.AdiSoyadi, "", new { @class = "text-danger" })
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Email</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email Adresiniz" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <!-- Text area -->
            <div class="form-group">
                <label class="col-md-4 control-label">Mesajınız</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        @Html.TextAreaFor(model => model.Mesaj, new { @class = "form-control", placeholder = "Mesajınız" })

                    </div>
                    @Html.ValidationMessageFor(model => model.Mesaj, "", new { @class = "text-danger" })
                </div>
            </div>
            @if (TempData["Basarili"] != null)
            {
                <!-- Success message -->
                <div class="alert alert-success" role="alert" id="success_message">
                    Gönderildi <i class="glyphicon glyphicon-thumbs-up"></i>@TempData["Basarili"] 
                </div>
            }
            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-warning">Gönder <span class="glyphicon glyphicon-send"></span></button>
                </div>
            </div>
        </fieldset>
    }



</div>




